<div class="side-menu" [ngClass]="{'active': menuActive}">
    <div class="title-section">
        <i class='bx bx-menu' (click)="toggleMenu()" style="font-size: x-large;"></i>
        <ng-container *ngIf="isLogged; else welcome">
            &nbsp;&nbsp;
            Welcome back user
        </ng-container>
        <ng-template #welcome>
            &nbsp;&nbsp;
            Menu
        </ng-template>
        <hr>
    </div>

    <!-- Featured Anime Panel -->
    <!-- TODO: This currently shows the top-ranked anime. Future enhancements: -->
    <!-- 1. For logged-in users: Show a random anime from their favorites list -->
    <!-- 2. Requires: Favorites/watchlist feature implementation -->
    <!-- 3. Requires: User preferences service -->
    <!-- 4. Add click handler to navigate to anime detail page -->
    <!-- 5. Add anime title overlay on the image -->
    <div class="image-panel"
         *ngIf="imageUrl"
         [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"
         [routerLink]="topAnimeId ? ['/about-' + topAnimeId] : null"
         [title]="'View ' + topAnimeTitle">
        <div class="image-overlay">
            <span class="featured-label">Featured Anime</span>
        </div>
    </div>

    <ul id="actions-options" *ngIf="!isLogged">
        <li>
            <i class='bx bxs-lock' style="color: orange"></i> 
                <a routerLink="#" 
                style="margin-left: 5px; margin-top: 5px;">
                    Login
                </a>
        </li>
        <li>
            <i class='bx bx-user-plus' style="color: orange"></i> 
                <a routerLink="/register" 
                style="margin-left: 5px; margin-top: 5px;">
                    Register
                </a>
        </li>
    </ul>
    <ul id="actions-options" *ngIf="isLogged">
        <li>
            <i class='bx bx-cog' style="color: #EA857D"></i> 
                <a routerLink="#" 
                style="margin-left: 5px; margin-top: 5px;">
                    Settings
                </a>
        </li>
        <li>
            <i class='bx bx-log-in-circle' style="color: red"></i> <a routerLink="#">Logout</a>
        </li>
    </ul>
</div>