<div class="navbarWrapper" #navbarWrapper>
    <div class="mobile-view">
        <div class="left">
            <i class='bx bx-menu' [ngStyle]="{'display': menuActive ? 'none' : 'inline-block'}" (click)="openMenu()"></i>
        </div>
        
        <form class="example-form">
              <input matInput
                     aria-label="Anime"
                     [matAutocomplete]="auto"
                     [formControl]="animeCtrl"
                     [ngClass]="{'active-search': searchActive, 'hidden-search': !searchActive}"
                     #autocompleteTrigger="matAutocompleteTrigger"
                     (blur)="onBlurClose()">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let anime of filteredAnimes | async" [value]="anime.title">
                  <img alt="" class="example-option-img" [src]="anime.image" height="25">
                  <span>{{anime.title}}</span> |
                  <small>Rating: {{anime.rating}}</small>
                </mat-option>
              </mat-autocomplete>
        </form>

        <div class="right">
            <i class='bx bx-search' (click)="toggleSearch()"></i>
            <i *ngIf="isLogged" class='bx bx-log-in-circle'></i>
        </div>
    </div>
    <div class="desktop-view">
        <div class="logo-section">
            <h2>AnimeTracker</h2>
        </div>

        <form class="search-form">
              <input matInput
                     placeholder="Search anime..."
                     aria-label="Anime"
                     [matAutocomplete]="autoDesktop"
                     [formControl]="animeCtrl">
              <mat-autocomplete #autoDesktop="matAutocomplete">
                <mat-option *ngFor="let anime of filteredAnimes | async" [value]="anime.title">
                  <img alt="" class="example-option-img" [src]="anime.image" height="25">
                  <span>{{anime.title}}</span> |
                  <small>Rating: {{anime.rating}}</small>
                </mat-option>
              </mat-autocomplete>
        </form>

        <div class="nav-actions">
            <!-- TODO: Authentication functionality needs to be implemented -->
            <!-- Once auth service is ready, wire up login/logout actions here -->
            <button mat-button *ngIf="!isLogged" routerLink="/register">Sign Up</button>
            <button mat-button *ngIf="!isLogged">Login</button>
            <button mat-icon-button *ngIf="isLogged">
                <i class='bx bx-user-circle'></i>
            </button>
        </div>
    </div>
</div>

<!-- Side Menu -->
<app-side-menu [menuActive]="menuActive" (closeMenu)="closeMenu()"></app-side-menu>
<!-- <div class="side-menu" [ngClass]="{'active': menuActive}">
    <div class="title-section">
        <i class='bx bx-menu' [ngClass]="{'bx-active': menuActive}" (click)="toggleMenu()"></i>
        &nbsp;&nbsp;
        Menu
        <hr>
    </div>
    <ul id="actions-options" *ngIf="!isLogged">
        <li>
            <i class='bx bxs-lock' style="color: #EA857D"></i> <a routerLink="#" style="margin-left: 5px;">Login</a>
        </li>
    </ul>
    <ul id="actions-options" *ngIf="isLogged">
        <li>
            <i class='bx bx-log-in-circle' style="color: #EA857D"></i> <a routerLink="#">Logout</a>
        </li>
    </ul>
</div> -->