<div class="navbarWrapper" #navbarWrapper>
    <div class="mobile-view">
        <div class="left">
            <i class='bx bx-menu' [ngStyle]="{'display': menuActive ? 'none' : 'inline-block'}" (click)="toggleMenu()"></i>
        </div>
        
        <form class="example-form">
              <input matInput
                     aria-label="Anime"
                     [matAutocomplete]="auto"
                     [formControl]="animeCtrl"
                     [ngClass]="{'active-search': searchActive, 'hidden-search': !searchActive}"
                     #autocompleteTrigger="matAutocompleteTrigger"
                     (blur)="onBlurClose()">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let anime of filteredAnimes | async" [value]="anime.title">
                  <img alt="" class="example-option-img" [src]="anime.image" height="25">
                  <span>{{anime.title}}</span> |
                  <small>Rating: {{anime.rating}}</small>
                </mat-option>
              </mat-autocomplete>
        </form>

        <div class="right">
            <i class='bx bx-search' (click)="toggleSearch()"></i>
            <i *ngIf="isLogged" class='bx bx-log-in-circle'></i>
        </div>
    </div>
    <div class="desktop-view">
        <!-- To be implemented -->
    </div>
</div>

<!-- Side Menu -->
<div class="side-menu" [ngClass]="{'active': menuActive}">
    <div class="title-section">
        <i class='bx bx-menu' [ngClass]="{'bx-active': menuActive}" (click)="toggleMenu()"></i>
        &nbsp;&nbsp;
        Menu
        <hr>
    </div>
    <ul id="actions-options" *ngIf="!isLogged">
        <li>
            <i class='bx bxs-lock' style="color: #EA857D"></i> <a routerLink="#" style="margin-left: 5px;">Login</a>
        </li>
    </ul>
    <ul id="actions-options" *ngIf="isLogged">
        <li>
            <i class='bx bx-log-in-circle' style="color: #EA857D"></i> <a routerLink="#">Logout</a>
        </li>
    </ul>
</div>