<div class="wrapper">
  <header class="upper-section container" style="background-color: black;">
      <nav>
        <app-navbar style="width:100%;"></app-navbar>
      </nav>
      <app-image-section></app-image-section>
  </header>
  
  <main class="bottom-section container" style="background-color: black; min-height: 55%;">
      <section>
        <!-- Section content here -->test
      </section>
      <!-- Other bottom section content here -->
  </main>
  
  <footer>
  <!-- Footer content here -->
  </footer>
</div>
  