<div [ngClass]="isDesktop ? 'desktopView' : 'mobileView'">

  <section *ngFor="let item of dataStream; let i = index">

    <div class="relativeToParentWrapper">
      <div class="custom-dropdown">
        <i class='bx bx-dots-horizontal-rounded' id="icon" (click)="openDropdown(i)"></i>
        
        <mat-select #selects [(ngModel)]="selectedValues[i]" (selectionChange)="updateSelection(i, $event)">
          <mat-option value="About" [routerLink]="['/about-' + item.id]">
            About
          </mat-option>
          <mat-option value="Reviews" [routerLink]="['/about-' + item.id + '/reviews']">
            Reviews
          </mat-option>
          <mat-option disabled value="Watch" routerLink="#">
            Watch 
          </mat-option>
        </mat-select>

      </div>    
    </div>

    <img [src]="item.image" alt="🤒😷🤮Something went🤮awfully wrong💉💊🤒" class="carouselImage">
  </section>
</div>
